.container2{
    display:flex; 
    flex-direction: row;
    isolation: isolate;
}

/* flex-direction 공부 */


.container2-1{
    display: flex;
    flex-wrap: wrap;    
    gap: 30px; 
    margin-top: 30px;
    justify-content: start;
    /* margin-left: 360px; */
}


.p1{
    font-size: 20px;
}



.yb-img{
    width: 450px;
    height: auto;
    border-radius: 20px;
}


