.container{
    display:flex;
    justify-content: space-between;
    align-items : center;
    
    
}
/* .container{
    display: block;
    unicode-bidi: isolate;
    
} */

.start{
    display: flex;
    align-items : center;
    margin-left: 20px;
    gap: 30px;
}

.center{
    display: flex;
    align-items : center;
    margin-top: 20px;
}

.end{
    display: flex;
    justify-content: space-between;
    align-items : center;
}

