  .st-img1{
          width: 35px;
          height: 35px;
      
  }

  .st-img2{
          width: 150px;
          height: auto;
          
  }

  .search{
          width: 700px;
          height: 60px;
          border-radius: 50px;  
          margin-left: 20px;
          font-size: 18pt;
          
  }


  .button0{
            height: 60px;
            width: 60px;
            border-radius: 20px;
            color:white;
            background-color: white;
            border: none;
            margin-top: 20px;
    
  }


  .button1{
            height: 60px;
            width: 70px;
            color:white;
            background-color: white;
            border: none;
    
  }


  .cen-img{
            width: 60px;
            height: auto;
            border: none;
            color:white;
            background-color: white;
  }
  

  .end-img{
            width: 70px;
            height: auto;
            border: none;
            color:white;
            background-color: white;
  }

  #button{
            height: 60px;
            width: 60px;
            border-radius: 20px;
            color:white;
            background-color: white;
            border: none;
    
  }


  /* .icon113{
    width: 100px;
    height: 100px;
  } */