  .st-img1{
          width: 35px;
          height: 35px;
      
  }

  .st-img2{
          width: 150px;
          height: auto;
          
  }

  .search{
         width: 800px;
         height: 70px;
         background-color: white;
         border: 2px solid #A2A2A2;
         border-radius: 50px;
         display: flex;
         align-items : center;

  }
        

  .search1{
          width: 700px;
          height: 60px;  
          margin-left: 20px;
          font-size: 18pt;
          border: none;
          outline: none;
          
          
          /* position:  relative; bottom: 20px; */
          
  }

  .button{
        height: 70px;
        width: 80px;
        background-color: #E2E2E2;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        display: flex;
        justify-content: flex-end;
        align-items : center;
        border: 2px solid #A2A2A2;
}

.cen-img{ 
        border-radius: 150px; 
}

 .button0{
        height: 60px;
        width: 60px;
        border-radius: 20px;
        color:white;
        background-color: white;
        border: none;
            
    
  }


.button1{
        height: 60px;
        width: 70px;
        color:white;
        background-color: white;
        border: none;
    
  }


  .cen-img{
            width: 60px;
            height: auto;
            border: none;
            color:white;
            background-color: white;
  }
  

  .end-img{
            width: 70px;
            height: auto;
            border: none;
            color:white;
            background-color: white;
  }




  /* #button{
            height: 60px;
            width: 60px;
            border-radius: 20px;
            color:white;
            background-color: #808080;
            border: none;
    
  } */


  /* .icon113{
    width: 100px;
    height: 100px;
  } */