#menu11{
    width: 280px;
    height: 50px;
    background-color: white;
    font-size: 25px;
    display: flex;
    align-items : center;
    
}

#menu17{
    width: 280px;
    font-size: 25px;
}

#menu0{
    background-color: white;
    border: 2px solid #e9ecef;
    border-width: 0 0 1px;
    margin-bottom: 10px;
}