#img1 {
    width: 35px;
    height: 35px;
    position: fixed; top: 40px; left: 50px;
  }

  #img2{
    width: 150px;
    height: auto;
    position: fixed; top: 32px; left: 100px;
  }



  #search{
          width: 700px;
          height: 60px;
          border-radius: 20px;  
          margin-left: 20px;
          font-size: 18pt;
          position: relative; bottom: 10px;
  }

  #button{
    height: 60px;
    width: 60px;
    border-radius: 20px;
    color:white;
    background-color: white;
    border: none;
    position: relative; top: 0px; right: 5px;
  }

  #button0{
    height: 60px;
    width: 60px;
    border-radius: 20px;
    color:white;
    background-color: white;
    border: none;
    margin-top: 20px;
    position: relative; top: 5px; left: 30px;
  }


  #button1, #button2,#button3 {
    height: 60px;
    width: 70px;
    color:white;
    background-color: white;
    border: none;
    position: relative; bottom: 15px;
  }


  #img3{
    width: 60px;
    height: auto;
    border: none;
    color:white;
    background-color: white;
  }
  #img4{
    width: 60px;
    height: auto;
    border: none;
    color:white;
    background-color: white;
  }

  #img5{
    width: 70px;
    height: auto;
    border: none;
    color:white;
    background-color: white;
  }

  #img6{
    width: 70px;
    height: auto;
    border: none;
    color:white;
    background-color: white;
  }

  #img7{
    width: 70px;
    height: auto;
    border: none;
    color:white;
    background-color: white;
  }