#container{
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
}

#start{
    display: inline;
    
}

#center{
    display: inline;
    
}

#end{
    display: inline;
    justify-content: space-between;
   
}

